<!DOCTYPE html>
<html lang="en" ng-app="emsApp">
<head>
	<meta charset="UTF-8">
	<title>EMS App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="app/app.module.js"></script>
</head>
<body>
	<div class="team-view" ng-controller="teamList as clan">
		
		<div class="team-member" ng-repeat="member in team.results">
			<div class="name">{{member.user.psnDisplayName}} <span ng-show="member.clanMembershipTypes[0]">[EMSC]</span></div>
			<div class="characters">
				<!-- <div class="character" ng-repeat=""></div> -->
			</div>
		</div>
	
	</div>
</body>
</html>